*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.countainer{
    height:1200px;
    width: 100%;
    background-image: url(music-g.png);
    background-size: cover;
    background-position: unset;
    position: relative;
} 

.nevbar{
    width: 90%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.nevbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;

}
.nevbar ul li a{
    text-decoration:none ;
    color: #5f5f5f;
    font-size: 15 mp;
}
.content{
    width: 100%;
    position: absolute;
    top: 10%;
}
.left-col{
    margin-block-start: 3%;
}
.left-col h1{
    font-size: 60px;
    color: purple;
    line-height: 100px;
    float: center;
}
.left-col h2{
    position: absolute;
    top: 15%;
    float: left;
    margin-left: 4%;
    line-height: 40px;
    display:flex;
    align-items: left;
}
.left-col p{
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 200;
    margin-left: 15px;
}
.tone{
    float: none;
    margin-top: 50px;
    padding: 20px;

}
.toneA{
    width: 50%;
    float: left;
    padding: 20px;
    color: rgb(80, 16, 230);
    


}
h3{
    margin-top: 30px;
}
#iconA{
    width: 80px;
    cursor: pointer;
}

#iconB{
    width: 80px;
    cursor: pointer;
}
#iconC{
    width: 80px;
    cursor: pointer;
}
#iconD{
    width: 80px;
    cursor: pointer;
}
#iconE{
    width: 80px;
    cursor: pointer;
}
#iconF{
    width: 80px;
    cursor: pointer;
}
#iconG{
    width: 80px;
    cursor: pointer;
}